body * {

	margin: none;
	padding: none;
	background: none;
}

.container {
	width: 100vw;
	margin: none;
	display: flex;
	flex-flow: wrap;

}



img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

